@page "/"
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@foreach ( var s in Urls){
    <div>@s</div>
}
@code {
    HttpClient http = new HttpClient();
    using System.ComponentModel.DataAnnotations.Schema;
    string[] Urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(',');
    
}
